<h2>お気に入り一覧</h2>

<div class="picture_index">
<table>
  <tr>
    <th>タイトル</th>
    <th>画像</th>
    <th>内容</th>
    <th>詳細</th>
  </tr>
<% @favorite_pictures.each do |pic| %>
  <tr>
    <td><%= pic.title %></td>
    <td><%= image_tag(pic.image.url) %></td>
    <td><%= pic.content %></td>
    <td><%= link_to "詳細を見る", picture_path(pic.id), class: "show_btn" %></td>
  </tr>
<% end %>
</table>
</div>
