<h2>画像投稿完了しました</h2>

<div class="show_form">
<h3>タイトル</h3>
</div>
<div class="show_detail">
<%= @picture.title %>
</div>

<div class="show_form">
<h3>内容</h3>
</div>
<div class="show_detail">
<%= @picture.content %>
</div>
