<div class="container">
<div class="description">
<img src="/back2.jpg">
<h2>内容</h2>
<p>勉強して学んだ内容をいちいち書くのは面倒です。そこでスクショをとって保存して学んだ内容をメモしていくものを作りました。</p>
</div>

<div class="how_to_use">
  <img src="/back3.jpg">
  <h2>使い方</h2>
  <ol>
    <li>まずは新規登録からアカウントを作成します</li>
    <li>↓</li>
    <li>アカウントを作成後、ログインします</li>
    <li>↓</li>
    <li>『スクショを保存』からタイトル、内容、画像を投稿します</li>
    <li>*投稿したものを見たいときは『スクショを確認』から確認します</li>
  </ol>
</div>
</div>
