.picture_index{
  margin: 40px 0;
}

.picture_index table{
  width: 100%;
}

.picture_index th{
  background-color: #f0e68c;
  text-align: center;
}

.picture_index td{
  background-color: #7fffd4;
  text-align: center;
}
