<!DOCTYPE html>
<html>
  <head>
    <title>Watepuphoto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="background_transparent">
    <div class="toggle">
      <span></span>
      <span></span>
      <span></span>
      <span>menu</span>
    </div>
    <div class="mobile_menu">
      <ul>
        <li><a href="#">トップ</a></li>
        <li><a href="#">新規登録</a></li>
        <li><a href="#">ログイン</a></li>
    </div>
    <header>
      <h1>わてぷフォト</h1>
      <p>学んだことをメモしておけます</p>
    </header>

    <div class="slider">
    </div>

    <%= yield %>
  </div>
    <script>
    $(function(){
      $('.toggle').click(function(){
        $(this).toggleClass('active');

        if ($(this).hasClass('active')){
          $('.mobile_menu').addClass('active');
        }else{
          $('.mobile_menu').removeClass('active');
        }
      });
    });
    </script>
  </body>
</html>
