<!DOCTYPE html>
<html>
  <head>
    <title>Watepuphoto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>わてぷフォト</h1>
      <p>学んだことをメモしておけます</p>
    </header>
    <div class="toggle">
      <span></span>
      <span></span>
      <span></span>
      <span>menu</span>
    </div>
    <%= yield %>
  </body>
</html>
